html {
  overscroll-behavior: none;
  -webkit-overscroll-behavior: none;
}

:root {
  --navy: #000033;
  --blue: #0066cc;
  --light-blue: #0099ff;
  --gray: #ededed;
  --refined-blue: #2185d5;
  --charcoal-blue: #3a4750;
  --gray-blue: #303841;
  --platinum-gray: #f3f3f3;
}

body {
  overflow-x: hidden;
  background-color: var(--charcoal-blue);
  background-repeat: no-repeat;
  color: black;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

.fixed-left {
  position: fixed;
  left: 0px;
  transform: translateX(0px);
  transition: all 200ms ease-in-out;
  z-index: 9999;
  display: flex;
  padding-top: 30vh;
}

.fixed-left:has(nav) {
}

nav {
  background-color: var(--transparent-white);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  border: 1px solid black;
  border-radius: 0px 3px 3px 0px;
  backdrop-filter: blur(10px);
}

a.nav-arrow {
  background-color: black;
  border-radius: 3px 10px 10px 3px;
  margin-left: 5px;
  cursor: pointer;
  padding: 5px;
}

nav ul {
  margin: auto;
  list-style: none;
  padding: 10px;
  transition: all 150ms ease-in-out;
  transform-origin: center;
}

nav li {
  padding: 10px 0px;
}

nav li p {
  position: absolute;
  left: -100px;
}

nav li a {
  color: black;
  font-size: 30px;
  transition: all 150ms ease-in-out;
}

nav li a:hover {
  cursor: pointer;
  color: var(--gray);
}

nav li a:active {
  color: var(--blue);
  transition: all 10ms ease-in-out;
}

@keyframes land-in {
  from {
    transform: scale(5);
  }
  45% {
    transform: scale(0.8);
  }

  60% {
    transform: scale(1);
  }

  70% {
    border: none;
    transform: rotate(0);
  }

  to {
    padding: 100px;
    border: 100px solid var(--refined-blue);
    transform: scale(1), rotate(45deg);
  }
}
@keyframes mobile-land-in {
  from {
    transform: scale(5);
  }
  45% {
    transform: scale(0.8);
  }

  60% {
    transform: scale(1);
  }

  70% {
    border: none;
    transform: rotate(0);
  }

  to {
    padding: 10px;
    border: 10vw solid var(--refined-blue);
    transform: scale(1), rotate(45deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.diamond-master {
  height: 100vh;
  overflow: hidden;
  border-bottom: 5px solid var(--gray-blue);
}

.grid-container {
  grid-gap: 30px;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

.diamond-container {
  animation: 1.5s land-in forwards;
  display: block;
  margin: auto;
  height: 100vh;
  background-color: var(--gray-blue);
  width: 100vh;

  transform: rotate(45deg);
}

.mobile-diamond {
  position: relative;
  top: 20vh;
  transform: rotate(45deg);
  height: 100vw;
  width: 100vw;
  animation: 1s mobile-land-in both;
  background-color: var(--gray-blue);

  transition: all 100ms ease-in-out;
}

.diamond-element {
  transition: all 150ms ease-in-out;
  animation: 1s drop-in both 1.5s;
  height: 100%;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  align-content: center;
  background-color: var(--charcoal-blue);
}

.diamond-element i {
  color: var(--platinum-gray);
  font-size: 50px;
  transform: rotate(-45deg);
}

.diamond-element:hover {
  background-color: var(--light-blue);
  transform: scale(1.5);
}

.diamond-element:nth-child(1) {
  animation: 1s drop-in both 1.7s;
}

.diamond-element:nth-child(2) {
  background-color: var(--refined-blue);

  padding: 0px;
  animation: 1s drop-in both 2s;
}

.diamond-element:nth-child(2):hover {
  background-color: var(--navy);
  color: var(--platinum-gray);
}

.diamond-element:nth-child(3) {
  animation: 1s drop-in both 1.4s;
}

.diamond-element:nth-child(4) {
  animation: 1s drop-in both 1.6s;
}

@keyframes drop-in {
  from {
    transform: scale(0);
    border-radius: 1000px;
  }

  to {
    transform: scale(1);
    border-radius: 10px;
  }
}

.diamond-container h1 {
  position: relative;
  right: -10px;
  animation: 0.7s fade both linear;
  animation-delay: 3s;
  overflow-y: visible;
  width: 0px;
  height: 0px;
}

.hide-nav {
  transform: translateX(-58px);
}

main hr {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
  background-color: var(--gray-blue);
  height: 7px;
  opacity: 1;
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(30vw);
  }

  to {
    transform: translateX(0vw);
  }
}

.project-frame {
  scrollbar-width: none;
  -ms-overflow-style: none;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw 30vw 30vw;

  width: 100vw;
  padding: 20px 50px;
  box-shadow: inset 10px 10px 1000px var(--charcoal-blue);
  overflow-x: scroll;
}

.project-container {
  overflow: hidden;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--platinum-gray);
  width: 30vw;
  aspect-ratio: 16/9;
}

.project-frame::-webkit-scrollbar {
  display: none;
}

.project-container p {
  color: white;
  transform: translateY(00px);
  text-align: center;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.project-work:hover + p {
  transform: translateY(-100px);
  opacity: 1;
}

.project-frame p:hover {
  transform: translateY(-100px);
}

.project-work {
  width: 100%;
  height: 100%;
  background-color: green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  transition: all 200ms ease-in-out;
}

.project-work:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: blur(10px) brightness(0.5);
}

.project-frame :nth-child(1) .project-work {
  background-image: url(../images/antalya.png);
}
.project-frame :nth-child(2) .project-work {
  background-image: url(../images/faulcon.png);
}
.project-frame :nth-child(3) .project-work {
  background-image: url(../images/dictionary.png);
}
.project-frame :nth-child(4) .project-work {
  background-image: url(../images/weather-react.png);
}
.project-frame :nth-child(5) .project-work {
  background-image: url(../images/plane.png);
}

.text-main {
  color: var(--gray);
}

.text-secondary {
  color: var(--gray-blue);
}

main h2 {
  padding: 70px 70px 0px;
}

main h3 {
  padding: 0px 70px;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

footer .link-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  grid-gap: 40px;
}

footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

footer i {
  background-color: transparent;

  font-size: 30px;
  padding: 20px;
  border-radius: 50px;
  color: black;
  transition: all 200ms ease-in-out;
  background-color: var(--transparent-white);
}

footer i:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@keyframes lift-up {
  from {
    height: 100vh;
  }
  to {
    height: 60vh;
  }
}

@media (prefers-reduced-motion: no-preference) {
}

@media (min-width: 767px) {
  nav li a:hover::before {
    position: absolute;
    left: 90px;
    font-size: 20px;
    color: black;
    background-color: var(--transparent-white);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
  }

  nav li a.home:hover::before {
    content: "Home";
  }
  nav li a.about:hover::before {
    content: "About";
  }
  nav li a.project:hover::before {
    content: "Projects";
  }
  nav li a.contact:hover::before {
    content: "Contact";
  }

  @supports (animation-timeline: view()) {
    .diamond-master {
      animation: lift-up both linear;
      animation-timeline: view();
      animation-range: exit;
    }

    .project-frame {
      animation: slide-in-left both linear;
      animation-timeline: view();
      animation-range: entry;
    }
  }
}

@media (max-width: 1200px) {
}

@keyframes appear {
  from {
    height: 70vh;
    opacity: 0.5;
    filter: blur(5px);
  }

  to {
    height: 100vh;
  }
}

@media (max-width: 767px) {
  html {
  }

  .diamond-master {
    animation: appear reverse both linear;
    animation-timeline: view();
    animation-range: exit;
    height: 100vh;
    border-bottom: none;
  }
  .diamond-container {
    margin-right: 0px;
    margin-left: 0px;
  }

  .project-container {
    width: 90vw;
  }

  .project-frame {
    grid-template-columns: 90vw 90vw 90vw 90vw 90vw 10px;
    padding: 10px;
  }

  .project-container {
    border-radius: 15px;
  }

  main h2 {
    padding: 40px 20px 0px;
  }

  main h3 {
    padding: 10px 20px;
  }
}
