@keyframes move-gradient {
  from {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0% 50%;
  }
}

html {
  overscroll-behavior: none;
}

body {
  height: 10000px;
  background-image: linear-gradient(
    to top,
    #040308,
    #ad4a28,
    #dd723c,
    #fc7001,
    #dcb697,
    #9ba5ae,
    #3e5879,
    #020b1a
  );
  background-repeat: no-repeat;
}

header {
  color: white;
  padding: 50px;
}

nav {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.navlink-container a {
  text-decoration: none;
  font-size: 20px;
  padding-left: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

header h1 {
  margin-bottom: 1000px;
  font-weight: bold;
}

header button {
  transform-origin: left;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-image: linear-gradient(to left, aqua, blue, aqua, blue);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 600%;
  backdrop-filter: blur(10px);
  animation: 10s move-gradient linear both infinite;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}

header button:hover {
  border: 2px solid white;
  background-color: white;
}

.logo {
  transition: all 200ms ease-in-out;
  border-radius: 10px;

  max-width: 100px;
}

.logo:hover {
  padding: 10px;
  max-width: 80px;
  background-color: rgba(255, 255, 255, 0.549);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
