html {
  overscroll-behavior: none;
}

:root {
  --navy: #000033;
  --blue: #0066cc;
  --light-blue: #0099ff;
  --gray: #ededed;
  --refined-blue: #2185d5;
  --charcoal-blue: #3a4750;
  --gray-blue: #303841;
  --platinum-gray: #f3f3f3;
}

body {
  overflow-x: hidden;

  background-color: white;
  background-repeat: no-repeat;
  color: black;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

.fixed-left {
  position: fixed;
  left: 0px;
  transform: translateX(0px);
  transition: all 200ms ease-in-out;
  z-index: 9999;
}

.fixed-left:has(nav) {
  display: flex;
  padding-top: 30vh;
}

nav {
  background-color: var(--transparent-white);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  border: 1px solid black;
  border-radius: 0px 3px 3px 0px;
  backdrop-filter: blur(10px);
}

a.nav-arrow {
  background-color: black;
  border-radius: 3px 10px 10px 3px;
  margin-left: 5px;
  cursor: pointer;
  padding: 5px;
}

nav ul {
  margin: auto;
  list-style: none;
  padding: 10px;
  transition: all 150ms ease-in-out;
  transform-origin: center;
}

nav li {
  padding: 10px 0px;
}

nav li p {
  position: absolute;
  left: -100px;
}

nav li a {
  color: black;
  font-size: 30px;
  transition: all 150ms ease-in-out;
}

nav li a:hover {
  cursor: pointer;
  color: var(--charcoal-blue);
}

nav li a:active {
  color: var(--blue);
  transition: all 10ms ease-in-out;
}

.hide-nav {
  transform: translateX(-58px);
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

footer .link-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  grid-gap: 40px;
}

footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

footer i {
  background-color: transparent;

  font-size: 30px;
  padding: 20px;
  border-radius: 50px;
  color: black;
  transition: all 200ms ease-in-out;
  background-color: var(--transparent-white);
}

footer i:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@media (prefers-reduced-motion: no-preference) {
}

@media (min-width: 767px) {
  nav li a:hover::before {
    position: absolute;
    left: 90px;
    font-size: 20px;
    color: black;
    background-color: var(--transparent-white);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
  }

  nav li a.home:hover::before {
    content: "Home";
  }
  nav li a.about:hover::before {
    content: "About";
  }
  nav li a.project:hover::before {
    content: "Projects";
  }
  nav li a.contact:hover::before {
    content: "Contact";
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 767px) {
}
